

*{
    margin: auto;
    /* margin-top: 0px; */
}

button {
    border-radius: 4px;
    margin-bottom: 10px;
    height: 25px;
    width: 80px;
    font-size: 15px;
    background-color: black;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
}

button:hover {
    background-color:  rgb(53, 36, 53);
}

body {
    text-align: center;
    background-color: rgb(201, 198, 198);
    /* background-color: rgb(255, 247, 177); */
}

h1{
    font-size: 50px;
    margin-top: 10px;
}

h2 {
    color: purple;
    margin-bottom: 7px;
    font-size: 20px;
}

table{
    width: 530px;
    height: 530px;
    cursor: pointer;

}

.flipped {
    background-color: purple;
}

.board-table {
    height: 200px;
    background-color: purple;
    width: 500px;
    margin: auto;
}

td {
    height: 32px;
    background-color: rgb(148, 108, 148);
    width: 32px;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
    transition: background-color 0.05s;
}

td:hover {
   background-color: rgb(153, 128, 153);
}

.bottom-board{
    width: 490px;
    height: 35px;
    background-color: rgb(88, 21, 88);
    vertical-align: auto;
    line-height: 35px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.timer {
    font-size: 20px;
    width: 100px;
    height: 35px;
    vertical-align: auto;
    line-height: 35px;
    float: right;
}

.life {
    width: 100px;
    height: 40px;
    vertical-align: auto;
    line-height: 35px;
    font-size: 25px;
    color: red;
    float: left;
    text-align: left;
    margin-left: 20px;
}

.smiley {
    width: 38px;
    font-size: 25px;
    cursor: pointer;
}

.special-board{
        margin-top: 10px;
        width: 440px;
        height: 35px;
        background-color: rgb(43, 10, 43);
        vertical-align: auto;
        line-height: 35px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
}

.special-board2{
    margin-top: 10px;
    width: 350px;
    height: 25x;
    background-color: rgb(24, 11, 24);
    /* background-color: rgb(184, 162, 184); */
    vertical-align: auto;
    line-height: 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hint{
        width: 130px;
        height: 35px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        float: left;
        text-align: center;
        transition: background-color 0.5s;
        border-radius: 5px;
}


.safe{
    width: 140px;
    height: 35px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    float: right;
    transition: background-color 0.5s;
    border-radius: 5px;
}

.hint:hover {
    background-color:  rgb(88, 21, 88);

    /* background-color:  rgb(255, 247, 177); */
}

.safe:hover {
    background-color:  rgb(88, 21, 88);
    /* background-color:  rgb(255, 247, 177); */
}

.emoji {
    font-size: 20px;
    }

.set-mines {
    width: 350px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.5s;
}

.set-mines:hover{
    background-color:  rgb(88, 21, 88);
    border-radius: 5px;
}

.seven-boom {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 65px;
    height: 22px;
    display: inline-block;
    vertical-align: auto;
    line-height: 22px;
    color: black;
    transition: background-color 0.5s;
    font-weight: 800;
}

.seven-boom:hover {
    background-color: rgb(0, 183, 255);
}

h6{
    margin-top: 5px;
}