

*{
    margin: auto;
    margin-top: 0px;
}

button {
    border-radius: 4px;
    margin-bottom: 15px;
    height: 30px;
    width: 80px;
    font-size: 15px;
    background-color: black;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
}

/* .board-background { */
    /* height: 700px; */
    /* width: 600px; */
    /* background-color: rgb(201, 198, 198); */
/* } */

button:hover {
    background-color:  rgb(53, 36, 53);
}

body {
    text-align: center;
    background-color: rgb(201, 198, 198);
    /* background-color: rgb(255, 247, 177); */
}

h1{
    font-size: 60px;
    margin-top: 30px;
}

h2 {
    color: purple;
    margin-bottom: 15px;
    font-size: 20px;
}

table{
    width: 520px;
    height: 520px;
    cursor: pointer;

}

.flipped {
    background-color: purple;
}

.board-table {
    height: 200px;
    background-color: purple;
    width: 500px;
    margin: auto;
}

td {
    height: 30px;
    background-color: rgb(148, 108, 148);
    width: 30px;
    font-size: 22px;
    text-align: center;
    border-radius: 3px;
}

.bottom-board{
    width: 450px;
    height: 40px;
    background-color: rgb(88, 21, 88);

    vertical-align: auto;
    line-height: 40px;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.timer {
    font-size: 20px;
    width: 100px;
    height: 40px;
    vertical-align: auto;
    line-height: 40px;
    float: right;
}

.life {
    width: 100px;
    height: 40px;
    vertical-align: auto;
    line-height: 40px;
    font-size: 28px;
    color: red;
    float: left;
    text-align: left;
    margin-left: 20px;
}

.smiley {
    width: 38px;
    font-size: 30px;
    cursor: pointer;
}

.special-board{
        margin-top: 15px;
        width: 300px;
        /* width: 450px; */
        height: 40px;
        background-color: rgb(43, 10, 43);
        /* background-color: rgb(184, 162, 184); */
        vertical-align: auto;
        line-height: 40px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
}

.hint{
        width: 102px;
        height: 40px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        display: inline-block;
        text-align: center;
        transition: background-color 0.5s;
}

.hint:hover {
    background-color:  rgb(88, 21, 88);
}

.emoji {
    font-size: 20px;
    }

